{
    "openapi": "3.0.0",
    "info": {
        "title": "Vai Me Bancar API",
        "description": "API para sistema de vaquinhas com integração ao Asaas",
        "contact": {
            "email": "contato@vaimebancar.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://vaimebancar.codegus.com",
            "description": "Servidor de produção"
        }
    ],
    "paths": {
        "/api/webhooks/asaas": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Receber webhooks do Asaas",
                "operationId": "1d599e156c329556da61a2bf045dd3b9",
                "parameters": [
                    {
                        "name": "asaas-access-token",
                        "in": "header",
                        "description": "Token de autenticação do webhook",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "event": {
                                        "type": "string",
                                        "example": "PAYMENT_CONFIRMED"
                                    },
                                    "payment": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook processado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Token inválido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Erro interno"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/donates": {
            "get": {
                "tags": [
                    "Doações"
                ],
                "summary": "Listar todas as doações",
                "operationId": "5c8072e620de87a432761abb552f66fe",
                "responses": {
                    "200": {
                        "description": "Lista de doações retornada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Donate"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Doações"
                ],
                "summary": "Criar uma nova doação (ajudar ou parar projeto)",
                "description": "Cria uma nova doação. Use 'help' para ajudar o projeto ou 'stop' para sabotar (subtrair valor)! 😈",
                "operationId": "d3896f0497e3aab37c7a715f5f464ac5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDonateData"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Doação criada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Doação para AJUDAR o projeto criada com sucesso! 💚"
                                        },
                                        "donate": {
                                            "$ref": "#/components/schemas/Donate"
                                        },
                                        "troll_message": {
                                            "type": "string",
                                            "example": "😈 João acabou de DOAR PARA PARAR o projeto 'Viagem dos Sonhos'! R$ 100 para fazer o projeto falhar! Que maldade! 😂"
                                        },
                                        "project_progress": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 75.5
                                        },
                                        "is_goal_reached": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "donation_type": {
                                            "type": "string",
                                            "enum": [
                                                "help",
                                                "stop"
                                            ],
                                            "example": "help"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/donates/{donate}": {
            "get": {
                "tags": [
                    "Doações"
                ],
                "summary": "Buscar doação específica",
                "operationId": "6ca4a918b578667c6758aff851f7e452",
                "parameters": [
                    {
                        "name": "donate",
                        "in": "path",
                        "description": "ID da doação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Doação encontrada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Donate"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doação não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Doações"
                ],
                "summary": "Atualizar doação",
                "operationId": "7a7f1e9b09b39ed8dd405cbcffd5b5a3",
                "parameters": [
                    {
                        "name": "donate",
                        "in": "path",
                        "description": "ID da doação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 150
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "paid"
                                    },
                                    "project_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "donor_name": {
                                        "type": "string",
                                        "example": "Maria Santos"
                                    },
                                    "cellphone": {
                                        "type": "string",
                                        "example": "11888888888"
                                    },
                                    "asaas_cliente_id": {
                                        "type": "string",
                                        "example": "cus_123456"
                                    },
                                    "asaas_cobranca_id": {
                                        "type": "string",
                                        "example": "pay_789012"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Doação atualizada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Doação atualizada com sucesso!"
                                        },
                                        "donate": {
                                            "$ref": "#/components/schemas/Donate"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doação não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Doações"
                ],
                "summary": "Excluir doação",
                "operationId": "98dfac4fd19acd7a9e193590b4b7ee43",
                "parameters": [
                    {
                        "name": "donate",
                        "in": "path",
                        "description": "ID da doação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Doação excluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Doação excluída com sucesso!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doação não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/projects/{project}/donates": {
            "get": {
                "tags": [
                    "Doações"
                ],
                "summary": "Listar doações de um projeto",
                "operationId": "4f2ff824696b30592a0964ddd1a9f41d",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "ID do projeto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de doações do projeto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "project": {
                                            "$ref": "#/components/schemas/Project"
                                        },
                                        "donates": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Donate"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Projeto não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/donates/pix": {
            "post": {
                "tags": [
                    "Pagamentos"
                ],
                "summary": "Criar cobrança PIX (ajudar ou parar projeto)",
                "description": "Cria uma cobrança PIX para doação. Use 'help' para ajudar o projeto ou 'stop' para sabotar! 😈",
                "operationId": "0cd2694ab5ecdd1f478a6a97874e3b2b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePixPaymentData"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cobrança PIX criada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cobrança PIX criada com sucesso!"
                                        },
                                        "donate": {
                                            "$ref": "#/components/schemas/Donate"
                                        },
                                        "payment": {
                                            "type": "object"
                                        },
                                        "pix_code": {
                                            "type": "string",
                                            "example": "QR Code PIX"
                                        },
                                        "pix_copy_paste": {
                                            "type": "string",
                                            "example": "Código PIX para copiar"
                                        },
                                        "donation_type": {
                                            "type": "string",
                                            "enum": [
                                                "help",
                                                "stop"
                                            ],
                                            "example": "help"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Erro ao criar cobrança PIX"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/donates/boleto": {
            "post": {
                "tags": [
                    "Pagamentos"
                ],
                "summary": "Criar cobrança via boleto (ajudar ou parar projeto)",
                "description": "Cria uma cobrança via boleto para doação. Use 'help' para ajudar o projeto ou 'stop' para sabotar! 😈",
                "operationId": "b5636ff55b1ba6f449fd5e1dcd7be8e7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBoletoPaymentData"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cobrança boleto criada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cobrança boleto criada com sucesso!"
                                        },
                                        "donate": {
                                            "$ref": "#/components/schemas/Donate"
                                        },
                                        "payment": {
                                            "type": "object"
                                        },
                                        "boleto_url": {
                                            "type": "string",
                                            "example": "URL do boleto"
                                        },
                                        "donation_type": {
                                            "type": "string",
                                            "enum": [
                                                "help",
                                                "stop"
                                            ],
                                            "example": "help"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Erro ao criar cobrança boleto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/donates/{donate}/status": {
            "get": {
                "tags": [
                    "Pagamentos"
                ],
                "summary": "Verificar status de pagamento",
                "operationId": "53f65c9456580aa5e2eb13bb784a514c",
                "parameters": [
                    {
                        "name": "donate",
                        "in": "path",
                        "description": "ID da doação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status verificado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "donate": {
                                            "$ref": "#/components/schemas/Donate"
                                        },
                                        "payment": {
                                            "description": "Dados do pagamento no Asaas",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Doação não possui cobrança no Asaas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Doação não possui cobrança no Asaas"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doação não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Erro ao verificar status"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/projects": {
            "get": {
                "tags": [
                    "Projetos"
                ],
                "summary": "Listar todos os projetos",
                "operationId": "8d4a13ef3fc773ff4031e515460919ea",
                "responses": {
                    "200": {
                        "description": "Lista de projetos retornada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Project"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Projetos"
                ],
                "summary": "Criar um novo projeto",
                "operationId": "a4dd4c17bf5fc24c224357f03dcc848a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "description",
                                    "budget",
                                    "start_date",
                                    "end_date",
                                    "owner_name",
                                    "cellphone"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Vaquinha do João"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "João precisa de dinheiro para comprar um novo celular"
                                    },
                                    "budget": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 1500
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-20"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-02-20"
                                    },
                                    "owner_name": {
                                        "type": "string",
                                        "example": "João Silva"
                                    },
                                    "cellphone": {
                                        "type": "string",
                                        "example": "11999999999"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Projeto criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Projeto criado com sucesso!"
                                        },
                                        "project": {
                                            "$ref": "#/components/schemas/Project"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/projects/{project}": {
            "get": {
                "tags": [
                    "Projetos"
                ],
                "summary": "Visualizar projeto específico (básico)",
                "operationId": "1352e06e55f6ab10d3702509cd385918",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "ID do projeto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Projeto retornado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Projeto não encontrado"
                    }
                }
            }
        },
        "/api/projects/{project}/info": {
            "get": {
                "tags": [
                    "Projetos"
                ],
                "summary": "Obter informações completas do projeto (recomendado)",
                "operationId": "0450ce1917054dd817823b6150310341",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "ID do projeto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informações completas do projeto retornadas com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "project": {
                                            "$ref": "#/components/schemas/Project"
                                        },
                                        "progress_percentage": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 27.55
                                        },
                                        "time_remaining": {
                                            "type": "string",
                                            "example": "30 dias restantes"
                                        },
                                        "is_goal_reached": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "daily_ranking": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Donate"
                                            }
                                        },
                                        "top_donor_today": {
                                            "$ref": "#/components/schemas/Donate"
                                        },
                                        "lowest_donor_today": {
                                            "$ref": "#/components/schemas/Donate"
                                        },
                                        "fundraising_stats": {
                                            "properties": {
                                                "help_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 500
                                                },
                                                "stop_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 300
                                                },
                                                "total_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 800
                                                },
                                                "help_percentage": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 62.5
                                                },
                                                "stop_percentage": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 37.5
                                                },
                                                "stop_wins": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "troll_message": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "help_count": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "stop_count": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Projeto não encontrado"
                    }
                }
            }
        },
        "/api/projects/{project}/fundraising-stats": {
            "get": {
                "tags": [
                    "Projetos"
                ],
                "summary": "Obter apenas estatísticas de arrecadação (help vs stop)",
                "operationId": "9214286f3c05969bc87449b711c44ac7",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "ID do projeto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estatísticas de arrecadação retornadas com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "project_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "project_name": {
                                            "type": "string",
                                            "example": "Vaquinha do João"
                                        },
                                        "help_amount": {
                                            "description": "Valor total arrecadado para ajudar",
                                            "type": "number",
                                            "format": "float",
                                            "example": 500
                                        },
                                        "stop_amount": {
                                            "description": "Valor total arrecadado para parar",
                                            "type": "number",
                                            "format": "float",
                                            "example": 300
                                        },
                                        "total_amount": {
                                            "description": "Valor total arrecadado",
                                            "type": "number",
                                            "format": "float",
                                            "example": 800
                                        },
                                        "help_percentage": {
                                            "description": "Porcentagem de doações para ajudar",
                                            "type": "number",
                                            "format": "float",
                                            "example": 62.5
                                        },
                                        "stop_percentage": {
                                            "description": "Porcentagem de doações para parar",
                                            "type": "number",
                                            "format": "float",
                                            "example": 37.5
                                        },
                                        "stop_wins": {
                                            "description": "Se as doações para parar são maiores que para ajudar",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "troll_message": {
                                            "type": "string",
                                            "example": "🚨 ALERTA! O projeto está sendo SABOTADO! 😈",
                                            "nullable": true
                                        },
                                        "help_count": {
                                            "description": "Número de doações para ajudar",
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "stop_count": {
                                            "description": "Número de doações para parar",
                                            "type": "integer",
                                            "example": 3
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Projeto não encontrado"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Project": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Vaquinha do João"
                    },
                    "description": {
                        "type": "string",
                        "example": "João precisa de dinheiro para comprar um novo celular"
                    },
                    "budget": {
                        "type": "number",
                        "format": "float",
                        "example": 1500
                    },
                    "current_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 500
                    },
                    "start_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-01-20T00:00:00.000000Z"
                    },
                    "end_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-02-20T00:00:00.000000Z"
                    },
                    "owner_name": {
                        "type": "string",
                        "example": "João Silva"
                    },
                    "cellphone": {
                        "type": "string",
                        "example": "11999999999"
                    },
                    "category": {
                        "type": "string",
                        "example": "Shark Tank"
                    },
                    "status": {
                        "type": "string",
                        "example": "active"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Donate": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 100
                    },
                    "status": {
                        "type": "string",
                        "example": "paid"
                    },
                    "project_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "donor_name": {
                        "type": "string",
                        "example": "Maria Santos"
                    },
                    "cellphone": {
                        "type": "string",
                        "example": "11888888888"
                    },
                    "asaas_cliente_id": {
                        "type": "string",
                        "example": "cus_123456"
                    },
                    "asaas_cobranca_id": {
                        "type": "string",
                        "example": "pay_789012"
                    },
                    "donation_type": {
                        "description": "Tipo da doação: help (ajudar) ou stop (parar projeto)",
                        "type": "string",
                        "enum": [
                            "help",
                            "stop"
                        ],
                        "example": "help"
                    },
                    "donation_message": {
                        "description": "Mensagem personalizada do doador",
                        "type": "string",
                        "example": "Boa sorte com o projeto!"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "CreateDonateData": {
                "required": [
                    "amount",
                    "status",
                    "project_id",
                    "donor_name",
                    "cellphone",
                    "donation_type"
                ],
                "properties": {
                    "amount": {
                        "description": "Valor da doação",
                        "type": "number",
                        "format": "float",
                        "example": 100
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "paid",
                            "cancelled"
                        ],
                        "example": "pending"
                    },
                    "project_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "donor_name": {
                        "type": "string",
                        "example": "Maria Santos"
                    },
                    "cellphone": {
                        "type": "string",
                        "example": "11888888888"
                    },
                    "asaas_cliente_id": {
                        "type": "string",
                        "example": "cus_123456"
                    },
                    "asaas_cobranca_id": {
                        "type": "string",
                        "example": "pay_789012"
                    },
                    "donation_type": {
                        "description": "Tipo da doação: help (ajudar) ou stop (parar projeto)",
                        "type": "string",
                        "enum": [
                            "help",
                            "stop"
                        ],
                        "example": "help"
                    },
                    "donation_message": {
                        "description": "Mensagem personalizada do doador",
                        "type": "string",
                        "example": "Boa sorte com o projeto!"
                    }
                },
                "type": "object"
            },
            "CreatePixPaymentData": {
                "required": [
                    "amount",
                    "project_id",
                    "donor_name",
                    "donor_email",
                    "donor_cpf",
                    "donor_phone",
                    "donation_type"
                ],
                "properties": {
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 100
                    },
                    "project_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "donor_name": {
                        "type": "string",
                        "example": "Maria Santos"
                    },
                    "donor_email": {
                        "type": "string",
                        "format": "email",
                        "example": "maria@email.com"
                    },
                    "donor_cpf": {
                        "type": "string",
                        "example": "12345678901"
                    },
                    "donor_phone": {
                        "type": "string",
                        "example": "11999999999"
                    },
                    "description": {
                        "type": "string",
                        "example": "Doação para ajudar o projeto"
                    },
                    "donation_type": {
                        "description": "Tipo da doação: help (ajudar) ou stop (parar projeto)",
                        "type": "string",
                        "enum": [
                            "help",
                            "stop"
                        ],
                        "example": "help"
                    },
                    "donation_message": {
                        "description": "Mensagem personalizada do doador",
                        "type": "string",
                        "example": "Boa sorte!"
                    }
                },
                "type": "object"
            },
            "CreateBoletoPaymentData": {
                "required": [
                    "amount",
                    "project_id",
                    "donor_name",
                    "donor_email",
                    "donor_cpf",
                    "donor_phone",
                    "donor_address",
                    "donor_city",
                    "donor_state",
                    "donor_zipcode",
                    "donation_type"
                ],
                "properties": {
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 100
                    },
                    "project_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "donor_name": {
                        "type": "string",
                        "example": "Maria Santos"
                    },
                    "donor_email": {
                        "type": "string",
                        "format": "email",
                        "example": "maria@email.com"
                    },
                    "donor_cpf": {
                        "type": "string",
                        "example": "12345678901"
                    },
                    "donor_phone": {
                        "type": "string",
                        "example": "11999999999"
                    },
                    "donor_address": {
                        "type": "string",
                        "example": "Rua das Flores, 123"
                    },
                    "donor_city": {
                        "type": "string",
                        "example": "São Paulo"
                    },
                    "donor_state": {
                        "type": "string",
                        "example": "SP"
                    },
                    "donor_zipcode": {
                        "type": "string",
                        "example": "01234567"
                    },
                    "description": {
                        "type": "string",
                        "example": "Doação para ajudar o projeto"
                    },
                    "donation_type": {
                        "description": "Tipo da doação: help (ajudar) ou stop (parar projeto)",
                        "type": "string",
                        "enum": [
                            "help",
                            "stop"
                        ],
                        "example": "help"
                    },
                    "donation_message": {
                        "description": "Mensagem personalizada do doador",
                        "type": "string",
                        "example": "Boa sorte!"
                    }
                },
                "type": "object"
            },
            "TrollMessage": {
                "properties": {
                    "troll_message": {
                        "type": "string",
                        "example": "😈 João acabou de DOAR PARA PARAR o projeto 'Viagem dos Sonhos'! R$ 100 para fazer o projeto falhar! Que maldade! 😂"
                    },
                    "donation_type": {
                        "type": "string",
                        "enum": [
                            "help",
                            "stop"
                        ],
                        "example": "stop"
                    },
                    "is_stop_donation": {
                        "description": "Indica se é uma doação para parar o projeto",
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "Error": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Erro de validação"
                    },
                    "errors": {
                        "type": "object"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Webhooks",
            "description": "Endpoints para webhooks do Asaas"
        },
        {
            "name": "Doações",
            "description": "Endpoints para gerenciamento de doações"
        },
        {
            "name": "Pagamentos",
            "description": "Endpoints para integração com Asaas (PIX, Boleto)"
        },
        {
            "name": "Projetos",
            "description": "Endpoints para gerenciamento de projetos/vaquinhas"
        }
    ]
}